.mydoc_h1{
    margin: 0 0 1em;
}
.mydoc_h1_a{
    color: #2c3e50;
    text-decoration: none;
    font-size: 2em;
}
.mydoc_h1_h1{
    margin: 45px 0 8px;
    padding-bottom: 7px;
    font-size: 28px;
}
.mydoc_h1_content{

}