.mydoc_h3{
    margin: 35px 0 0.8em;
}
.mydoc_h3_a{
    font-size: 1.3em;
    text-decoration: none;
    color: #2c3e50;
}
.mydoc_h3_a::before{
    content: '';
    display: block;
    margin-top: -30px;
    height: 30px;
    visibility: hidden;
}
.mydoc_h3_h3{
    margin: 5px 0 8px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    padding-bottom: .6em;
}
.mydoc_h3_content{

}