:not(.mydoc_li) + .mydoc_li, .mydoc_li:first-child{
    margin-top: 10px;
}
.mydoc_li + .mydoc_li{
    margin-top: -10px;
}

.mydoc_li{
    margin: 0;
    color: #34495e;
    margin-bottom: 10px;
    position: relative;
}