.myblog_blockquote{
    padding: 12px 5px 12px 30px;
    margin: 2em 0 0 8px;
    border-width: 0;
    border-left: 4px solid #f66;
    background-color: #f8f8f8;
    position: relative;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    line-height: 1.6em;
}
.myblog_blockquote::before{
    position: absolute;
    top: 14px;
    left: -12px;
    background-color: #f66;
    color: #fff;
    content: "!";
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
}
