.myblog_h1{

}
.myblog_h1_a{
    color: #000;
    text-decoration: none;
}
.myblog_h1_h1{
    margin: 45px 0 8px;
    padding-bottom: 7px;
    border-bottom: 1px solid #ddd;
    font-size: 28px;
}
.myblog_h1_content{

}