:not(.myblog_li) + .myblog_li, .myblog_li:first-child{
    margin-top: 10px;
}
.myblog_li + .myblog_li{
    margin-top: -10px;
}

.myblog_li{
    margin: 0;
    color: #34495e;
    margin-bottom: 10px;
    position: relative;
}